* {
    font-family: 'Poppins', sans-serif;
    --gameOrange: rgb(251, 116, 45);
    --bsBlue: #0d6efd;
}
html, body {
    height: 100%;
}
body {
    background-color: rgb(218, 224, 230);
}
@media (min-width: 768px) {
    .container {
        max-width: 90%;
   }
}
textarea {
    resize: none;
}
.btn:focus{
    box-shadow: none !important;
}
.form-select:focus{
    box-shadow: none !important;
}
.form-select:hover{
    cursor: pointer;
}
.highlight {
    background-color: #fcc29a;
    padding: 0 0.1em;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--bsBlue);
}
.badge-notification {
    background: red;
    position: relative;
    padding: .05em .25em;
    top: -10px;
    left: -12px;
}
.unread {
    border: var(--gameOrange) 2px solid;
}
.notification-circle{
    background-color: var(--gameOrange);
}
.profile-widget {
    position: relative;
}
.profile-widget .image-container {
    background-size: cover;
    background-position: center;
    padding: 190px 0 10px;
}
.profile-widget .image-container .profile-background {
    width: 100%;
    height: auto;
}
.profile-widget .image-container .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto -60px;
    display: block;
}
.profile-widget .details {
    padding: 0px 15px;
    text-align: center;
}
.panel-white {
    background-color: white;
}
.form-control {
    width: 100%;
}
.fa fa-search {
    justify-content: right;
}
#hamburguerIcon {
    min-width: 170px;
}
.navbar-placeholder{
    background: transparent;
    margin-bottom: 63px;
    width: 100%;
    display: flex;
}
@media (max-width: 992px) {
    .navbar-placeholder{
        margin-bottom: 52px;
   }
}
@media (max-width: 576px) {
    .navbar-placeholder{
        margin-bottom: 45px;
   }
}
#navbar {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index:2;
}
#search_bar_form.form-floating > .form-control:focus ~ label {
    opacity: 0 !important;
}
.navbar-icon {
    transition: 0.15s all ease-in;
}
.pop-up-instructions {
    font-size: larger;
    color: #383838;
    font-weight: 500;
}
img.img-logo {
    width: auto;
    height: 45px;
}
@media (min-width: 992px) {
    div .col-lg-6 {
        margin: auto;
   }
    #hamburguerIcon {
        justify-content: flex-end !important;
   }
    #colapsedHamburguer {
        display: none !important;
   }
}
@media (max-width: 992px) {
    #navbar_search {
        margin-left: 0 !important;
        margin-top: 1.5%;
        margin-bottom: 1%;
   }
    #hamburguerIcon {
        justify-content: flex-start !important;
        display: none !important;
   }
    #colapsedHamburguer {
        justify-content: flex-start !important;
        display: flex;
        padding: 0px 0px !important;
   }
    #Logo {
       /*margin:auto !important;
       */
        margin-left: 42%;
   }
}
@media (max-width: 700px) {
    #navbar_search_icon {
        width: 90% 
   }
}
@media (max-width: 550px) {
    #Logo {
       /*margin:auto !important;
       */
        margin-left: 36%;
   }
    #navbar_search_icon {
        width: 87% 
   }
}
@media (max-width: 450px) {
    #Logo {
       /*margin:auto !important;
       */
        margin-left: 30%;
   }
    #navbar_search_icon {
        width: 85% 
   }
}
@media (max-width: 400px) {
    #navbar_search_icon {
        width: 80% 
   }
}
@media (max-width: 320px) {
    #Logo {
       /*margin:auto !important;
       */
        margin-left: 20%;
   }
    #navbar_search_icon {
        width: 78% 
   }
}
@media (max-width: 280px) {
    #Logo {
       /*margin:auto !important;
       */
        margin: auto;
   }
}
@media (min-width: 992px) {
    #create_post_btn {
        max-width: 230px !important;
   }
}
@media (max-width: 992px) {
    #create_post_btn {
        max-width: 50px !important;
        display: flex;
        justify-content: left;
        margin-left: 2px;
   }
}
.btn-outline-red {
    font-family: 'Material Icons Outlined';
    color: black !important;
    border: none;
    transition: 0.15s all ease-in;
}
.btn-outline-red:hover {
    font-family: 'Material Icons Round' !important;
    color: red !important;
    border: none;
    cursor: pointer;
}
.btn-outline-red:hover :first-child {
    font-family: 'Material Icons Round' !important;
    color: red !important;
    border: none;
    cursor: pointer;
}
.btn-outline-blue{
    font-family: 'Material Icons Outlined';
    color: black !important;
    border: none;
    transition: 0.15s all ease-in;
}
.btn-outline-blue:hover :first-child {
    font-family: 'Material Icons Round' !important;
    color: var(--bsBlue) !important;
    border: none;
    cursor: pointer;
}
.btn-outline-blue:hover{
    font-family: 'Material Icons Round' !important;
    color: var(--bsBlue) !important;
    border: none;
    cursor: pointer;
}
.bookmark{
    font-family: 'Material Icons Outlined'!important;
   ;
    color: black;
    border: none;
    transition: 0.15s all ease-in;
    background-color: white;
}
.bookmark:hover {
    font-family: 'Material Icons Outlined'!important;
   ;
    color: var(--bsBlue);
    border: none;
    cursor: pointer;
}
.bookmarked{
    font-family: 'Material Icons Round'!important;
   ;
    color: var(--bsBlue);
    border: none;
    cursor: pointer;
}
.bookmarked:hover {
    font-family: 'Material Icons Round'!important;
   ;
    color: red;
    border: none;
    cursor: pointer;
}
.grey-hover {
    transition: 0.15s all ease-in;
    color: black;
}
.toast-header-true {
    color: green 
}
.toast-header-false {
    color: red 
}
.grey-hover-notification :last-child {
    transition: 0.15s all ease-in;
    color: black;
}
.grey-hover:hover {
    color: grey;
}
.grey-hover:hover > * {
    color: grey;
}
.grey-hover-notification {
    transition: 0.15s all ease-in;
    color: black;
}
.grey-hover-notification:hover :first-child {
    color: grey;
}
.grey-hover-notification:hover :last-child {
    color: grey;
}
.nav-link.dropdown-toggle.d-flex.mt-1::after {
    margin-left: 5%;
    margin-top: 9%;
}
/*Login and Signup*/
.login-page, .signup-page {
    height: 100%;
}
form h1 {
    color: white;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black 
}
form h2 {
    font-style: italic;
}
.login-page h1, .login-page h2, .login-page h3, .login-page h5, .signup-page h1, .signup-page h2 {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
}
#signUpLogin, #forgotPassword {
    color: white;
    text-shadow: 1px 1px black;
}
#signUpLogin:hover, #forgotPassword:hover {
    color: var(--bsBlue);
}
.form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    z-index: 1;
}
.signup-page .background-color, .login-page .background-color {
    position: fixed;
    background-color: var(--gameOrange);
    height: 100%;
    width: 100%;
    z-index: -2;
}
.signup-page .background-image {
    position: fixed;
    z-index: -1;
    display: block;
    background-image: url("../storage/assets/signup.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}
.error {
    color: red;
    text-shadow: 1px 0px 2px darkgray;
}
#signUpButton {
    background-color: var(--gameOrange);
    border-color: var(--gameOrange);
    border-radius: 5px;
    border-width: 2px;
    transition: 0.15s all ease-in;
    text-shadow: 1px 1px 1px black;
    transition: 0.15s all ease-in;
}
#signUpButton:hover {
    background: transparent;
    color: var(--gameOrange);
    border-color: var(--gameOrange);
}
.form-control:focus {
    border: none;
    box-shadow: 0 0 0 0.15rem rgba(251, 116, 45, 1);
}
.login-page .form-signin {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    z-index: 1;
}
.login-page .background-image {
    position: fixed;
    z-index: -1;
    display: block;
    background-image: url("../storage/assets/login.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}
#loginButton {
    background-color: var(--gameOrange);
    border-color: var(--gameOrange);
    border-radius: 5px;
    border-width: 2px;
    transition: 0.15s all ease-in;
    text-shadow: 1px 1px 1px black;
    transition: 0.15s all ease-in;
}
#loginButton:hover {
    background: transparent;
    color: var(--gameOrange);
    border-color: var(--gameOrange);
}
.carousel {
    margin: 0 auto;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-inner {
    width:50vw;
}
.carousel-item > img {
    width:50vw;
    height: 40vh;
    text-align:center;
    margin:auto;
    justify-content: center;
    object-fit: contain;
}
.carousel-container{
    width: 100%;
    position: relative;
}
.carousel-wrapper{
    width:50vw;
    height:40vh;
}
.carousel-control{
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
}
@media (max-width: 575px) {
    .carousel-wrapper{
        width: 80vw;
        height: 30vh;
   }
    .carousel-item > img {
        width:80vw;
        height: 30vh;
   }
    .carousel-inner {
        width:80vw;
   }
}
@media (max-width: 992px) {
    .carousel-wrapper{
        width: 65vw;
        height: 35vh;
   }
    .carousel-item > img {
        width:65vw;
        height: 35vh;
   }
    .carousel-inner {
        width:65vw;
   }
}
@media (max-width: 575px) {
    .carousel-wrapper{
        width: 80vw;
        height: 30vh;
   }
    .carousel-item > img {
        width:80vw;
        height: 30vh;
   }
    .carousel-inner {
        width:80vw;
   }
}
@media (min-width: 40em) {
   /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
   }
    .featurette-heading {
        font-size: 50px;
   }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
   }
}
.post-title {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 10px;
}
.post-title-smaller {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 10px;
}
.post-topics {
    margin-bottom: 0;
}
.post-user {
    color: var(--gameOrange);
}
.pill-navigation li a {
    color: darkgray;
}
.pill-navigation .nav-link.active {
    background-color: transparent;
    border-bottom: 3px solid var(--gameOrange);
    color: black;
    border-radius: 0%;
}
.post-voting .upvote, .post-voting .downvote, .comment-voting .upvote, .comment-voting .downvote {
    transition: 0.15s all ease-in;
    color: darkgray;
}
.post-voting .upvote:hover, .comment-voting .upvote:hover {
    cursor: pointer;
    color: var(--gameOrange) 
}
.post-voting .downvote:hover, .comment-voting .downvote:hover {
    cursor: pointer;
    color: #353cee 
}
.post-voting .upvote.voted, .comment-voting .upvote.voted {
    color : rgb(251,116,45);
}
.post-voting .downvote.voted, .comment-voting .downvote.voted {
    color: #353cee;
}
.edit-textarea {
    padding: 5px;
    border: none;
}
hr {
    border-top: 5px solid var(--gameOrange);
    opacity: 1;
    background-color: white;
}
.admin_hr {
    border-top: 1px solid darkgray;
    opacity: 1;
}
#field-container {
    border: 2px solid lightgray;
}
#field-container h2 {
    color: grey;
}
#field-delete-container h2 {
    color: red;
    opacity: 60%;
}
#accept_button {
    float: right;
    background-color: var(--gameOrange);
    border-color: var(--gameOrange);
    border-radius: 5px;
    border-width: 2px;
    transition: 0.15s all ease-in;
}
#accept_button:hover {
    background: transparent;
    color: var(--gameOrange);
    border-color: var(--gameOrange);
}
#field-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    border-top: 2px solid lightgray;
}
#field-container h2, #field-delete-container h2 {
    font-size: 1.5vh;
}
#accept-button {
    float: right;
}
#close-window-button {
    padding: 0;
    border: none;
    background: none;
    transition: 0.15s all ease-in;
}
#close-window-button:hover {
    color: red;
}
#inputDeleteAccount:focus {
    box-shadow: 0 0 0 0.15rem red;
}
#staticBackdropLabelDelete {
    color: red;
}
#staticBackdropLabelReport {
    color: red;
}
#staticBackdropLabelLogin {
    color: #0d6efd;
}
#add-comment-button {
    float: right !important;
    background-color: #4dc3ff !important;
    border: none;
}
.comment-icons span {
    transition: 0.15s all ease-in;
}
.comment-icons span:hover {
    cursor: pointer;
    color: #4dc3ff;
}
span.report-button:hover {
    color: var(--gameOrange) 
}
hr {
    border-top: 5px solid var(--gameOrange);
    opacity: 1;
    background-color: white;
}
.game-quote{
    color: grey;
    font-style: italic;
    margin-bottom: 0;
}
.game-quote-origin{
    font-size: 80%;
}
.following-button {
    border-color: var(--gameOrange);
    width: 100px;
    border-radius: 5px;
    border-width: 2px;
    color: var(--gameOrange);
    transition: 0.15s all ease-in;
}
.following-button:hover {
    background-color: var(--gameOrange);
    color: white;
    border-color: var(--gameOrange);
}
.following-button::after {
    content: "Following";
}
.following-button:hover::after {
    content: "Unfollow";
}
.follow-button {
    border-color: var(--gameOrange);
    color: white;
    width: 100px;
    border-radius: 5px;
    border-width: 2px;
    background-color: var(--gameOrange);
    transition: 0.15s all ease-in;
}
.follow-button::after {
    content: "Follow";
}
.follow-button:hover {
    background-color: white;
    color: var(--gameOrange);
    border-color: var(--gameOrange);
}
.create_post_header {
    border-bottom: 3px solid var(--gameOrange);
}
#post_cancel_button {
    border: none;
    transition: 0.15s all ease-in;
}
#post_cancel_button:hover {
    background-color: transparent;
    border: 2px solid red;
    color: red;
}
.create_post_buttons {
    margin-top: 10% 
}
.color-orange {
    color: var(--gameOrange) 
}
.following-button {
    border-color: var(--gameOrange);
    border-radius: 5px;
    border-width: 2px;
    transition: 0.15s all ease-in;
}
.following-button::after {
    content: "Following";
}
.following-button:hover::after {
    content: "Unfollow";
}
.text-button-profile {
    padding: 0;
    border: none;
    background: none;
    transition: 0.15s all ease-in;
}
.text-button-profile:hover {
    color: #0d6efd;
}
.aside-title {
    color: var(--gameOrange);
}
.small-grey-text {
    font-size: 0.85em;
    color: grey;
}
.blue-hover, .red-hover {
    transition: 0.15s all ease-in;
}
.blue-hover:hover {
    color: #0d6efd;
    cursor: pointer;
}
.red-hover:hover {
    color: red;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
    transition: 0.15s all ease-in;
}
a:hover {
    color: var(--bsBlue);
}
a.black-a {
    color: black;
}
a.black-a:hover {
    color: black;
}
.card-text a{
    color: var(--bsBlue);
    text-decoration: underline;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-multiple {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    max-height: 4.5em;
    text-align: justify;
    margin-left: 0em;
    margin-right: 0em;
    padding-right: 1em;
}
.truncate-multiple:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.truncate-multiple:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.navbar-icon {
    padding: 0;
    border: none;
    background: none;
}
.error-title {
    font-size: 16vh;
    color: var(--gameOrange);
}
.error-picture {
    height: 30vh;
}
.close-notification-button {
    padding: 0;
    border: none;
    background: none;
    transition: 0.15s all ease-in;
}
.close-notification-button:hover {
    color: white;
}
.edit_profile_username h2 {
    color: var(--gameOrange);
    text-shadow: none;
}
.edit_banner_photo {
    position: absolute;
    top: 0;
    right: 0%;
}
.camera_icon span {
    color: grey 
}
.edit_profile_photo {
    margin-left: 54% 
}
@media (max-width: 768px) {
    .edit_profile_photo {
        margin-left: 58% 
   }
}
.footer-wrapper {
    transition: transform 0.4s;
}
.scroll-down .footer-wrapper {
    transform: translate3d(0, 100%, 0);
}
.scroll-up .footer-wrapper {
    transform: none;
}
.scroll-up .footer-wrapper {
    background: white;
}
.post-body{
    max-height: 4.15em;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 1.1%;
    background: white;
    transition: transform 0.4s;
}
.footer-placeholder {
    display: flex;
    padding: 1.1%;
    margin-top: 60px;
}
@media (min-width: 992px) {
    .footer-wrapper {
        padding: 0.7%;
   }
}
@media (max-width: 768px) {
    .copyright{
        font-size: 14px;
   }
    .footer-placeholder {
        margin-top: 30px;
   }
}
@media (max-width: 574px) {
    .post-title{
        font-size: 26px;
   }
    .copyright{
        font-size: small;
   }
    .footer-placeholder {
        margin-top: 30px;
   }
}
